:root {
    --color-accent: #2C5C6D;
    --color-accent-strong: #AF4793;
    --color-bg-focus: #F1F6F9;
    --color-links: #4793AF;
    --color-nav-link: var(--color-accent);
    --color-bg-blocks: #F1F6F9;
    --color-bg-blocks-strong: #DAEFFC;
    --header-height: calc(4em + 20px);
    --left-content-margin: 10px;
    --nav-width: 300px;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

:focus {
    background-color: var(--color-bg-focus);
    outline: 2px dotted var(--color-accent);
}

#tools {
    margin: 10px;
    max-width: 900px;
}

/* Slightly indent every tool description */
.tool-description {
    margin-left: var(--left-content-margin);
    padding-bottom: 20px;
}

.tool-description h2 {
    margin-bottom: 10px;
}

ul.tool-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tool-details li {
    padding-bottom: 5px;
}

.tool-details li * {
  /* This makes browsers first break lines between elements of the list item,
   * and only afterwards within text of an element */
  display: inline-block;
}


.tool-details li a {
  /* wrap overlong links */
  word-break: break-word;
}

header h1 {
    font-size: 1.8em;
    margin-top: 10px;
    margin-left: var(--left-content-margin);
    margin-bottom: 10px;
}

#code-link {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

header a:hover {
    background-color: var(--color-bg-blocks-strong);
}

header #code-link img {
    height: 1em;
}

header a {
    color: var(--color-nav-link);
}
header a:hover {
  /* Do not color header items differently on hover */
  color: var(--color-nav-link);
}

#quicklinks,#toc {
    margin-top: 2em;
    padding-left: 15px;
    padding-top: 5px;
}

#quicklinks ul,#toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#quicklinks li a,#toc li a {
    display: block;
    font-size: 1em;
    color: var(--color-nav-link);
    padding-top: 2px;
    padding-bottom: 2px;
    /* Necessary so that unicode character doesn't change line height */
    line-height: 1.1em;
    padding-left: var(--left-content-margin);
}

#quicklinks h2,#toc h2 {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 5px;
}

a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent-strong);
    background-color: var(--color-bg-focus);
    border-radius: 3px;
}

span.literature-title {
    font-style: italic;
}

span.entry-key {
    font-weight: bold;
}

@media only screen and (min-width: 850px) {
    html {
        scroll-padding-top: calc(var(--header-height) + 10px);
    }

    header {
        position: fixed;
        top: 0;
        padding-top: 0;
        padding-bottom: 0;
        height: var(--header-height);
        width: 100%;
        background-color: var(--color-bg-blocks);
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    /* Quicklinks in header instead of as list */
    #quicklinks h2 {
      /* hide the quicklinks caption in the header */
      display: none;
    }
    #quicklinks {
      padding: 0;
      margin: 0;
      /* Keep some space to the header-bottom */
      margin-bottom: 10px;
      /* Align with h1 element in header. -10px because quicklinks li a has 10px padding */
      margin-left: calc(var(--left-content-margin)-10px);
      grid-column: 1;
      grid-row: 2;
    }

    #quicklinks ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: flex-start;
    }

    #quicklinks li a {
      padding: 2px 10px;
    }

    /* Align code-link in the vertical center of the header */
    #code-link {
      grid-column: 2;
      grid-row: 2;
      /* Same bottom-alignment as quicklinks */
      margin-bottom: 10px;
    }
    #code-link a {
      padding-right: var(--left-content-margin);
    }

    #toc {
        position: fixed;
        top: var(--header-height);
        overflow: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--color-bg-blocks) transparent;
        height: calc(100vh - var(--header-height));
        margin: 0;
        width: var(--nav-width);
    }

    #tools {
        position: absolute;
        top: var(--header-height);
        left: calc(var(--nav-width) + 10px);
    }
}
